@font-face {
    font-family: 'Pica';
    src: url('../fonts/Pica-10.ttf') format('truetype');
}

@font-face {
    font-family: 'Stempel';
    src: url('../fonts/StempelGaramondLTStd-Italic.ttf') format('truetype');
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Pica', monospace;
    color: #3a3a3a;
    background-color: #D0CABE;
}

/* MAIN LAYOUT */
.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.left-column {
    flex: 1 1 200px;
    padding: 20px;
}

/* TITLE */
.name {
    margin-bottom: 20px;
}

.name a {
    text-decoration: none;
    color: #3a3a3a;
    font-size: 24px;
    font-family: 'Stempel', serif;
    letter-spacing: -0.005em;
}

/* NAV */
.nav-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-links a {
    text-decoration: none;
    color: #3a3a3a;
    font-size: 16px;
}

.nav-links a:hover {
    color: #807c74;
}

.right-column {
    flex: 2 1 600px;
    padding: 20px;
}

/* IMAGE */
.media-item {
    width: 100%;
}

.media-item img {
    width: 100%;
    display: block;
    mix-blend-mode: multiply;
    filter: grayscale(30%);
    transition: filter 0.3s ease;
}

.media-item img:hover {
    filter: grayscale(0);
}

